<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geekh.mystock"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.ControlPanel"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".Activity.ListWarehouseActivity"
            android:label="@string/title_activity_warehouse"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ListCategoryActivity"
            android:label="@string/title_activity_category"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ListFamilyActivity"
            android:label="@string/title_activity_family"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ListSubFamilyActivity"
            android:label="@string/title_activity_subfamily"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".Activity.ListItemActivity"
            android:label="@string/title_activity_items"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".Activity.ListItemActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".Activity.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".Activity.HomeActivity"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name=".Activity.AddItemActivity"
            android:label="@string/title_activity_add"
            android:parentActivityName=".Activity.ListItemActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.PrintActivity"
            android:label="@string/title_activity_print"
            android:parentActivityName=".Activity.PrintActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>

        <activity android:name=".Scanner.FullScannerActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow"
            android:label="@string/scanner_activity">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
    </application>

</manifest>
